[package]
name = "python-parser"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bitflags = "1.3.2"

[dev-dependencies]
pretty_assertions = "1.3.0"

[profile.release]
strip = true
lto = true
codegen-units = 1
